* {
  margin: 0;
  padding: 0;
  border: none;
}
.container{
  width: 90%;
  margin: 0 auto;
}
body{
  font-family: 'Montserrat', sans-serif;

}
.header{
  background: url("../img/1617586270_33-p-stomatologiya-fon-33.png") no-repeat ;
  min-height: 100vh;
}